<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="background-white container-small container">
			<div class="row"> <!-- main row -->
				<div class="col-md-10 col-md-offset-1"> <!-- rankings col -->
					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Academic Rigor</u></label>
							<ul class="ranking-list">
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Campus Life</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response2_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>On-Campus Food</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response3_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>
					</div>

					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Off-Campus Food</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response4_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Housing</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response5_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Administration</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response6_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>
					</div>

					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Weather</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response7_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Post-College Options</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response8_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Overall Recommendation</u></label>
							<ul class="ranking-list">
								<% @colleges = College.order(response9_average: :desc) %>
								<% @colleges.limit(3).each do |college| %>
									<li><%= @counter %>) <%= college.name %></li>
									<% @counter += 1 %>
								<% end %>
								<% @counter = 1 %>
							</ul>
						</div>
					</div>
				</div> <!-- rankings col -->
			</div> <!-- ./ main row -->
		</div>
	</body>
</html>