<html>
	<head>
    <title>PunaLink</title>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="container-small container">
			<div class="row">
				<div id="welcome" class="col-md-12">
					<div class="short row">
						<label id="header">Welcome to PunaLink,</label>
						<p class="welcome-p-1">A resource for Punahou Academy students sourced from Punahou Alumni. Get real input from our alumni on their colleges.  Find out what other Oahuans think about everything from campus life, to academic rigor, to food.  The real inside info, by Punahou, for Punahou</p>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<label id="header">Recent Reviews</label>
				<% if @reviews.size == 0 %>
					<div style="text-align: center">
						<label>Sorry, there are no reviews to display at the moment</label>
					</div>
				<% else %>
					<% @reviews.limit(4).each do |review| %>
						<% if review.verified == true %>
							<div class="col-sm-6">
								<div class="well" style="padding-top: 0">
									<div style="text-align: center">
										<%= link_to(review, target: '_blank') do %>
											<h3><span class="fa fa-user"></span>Review by <%= review.name %> for <%= review.college_name %></h3>
										<% end %>
									</div>
									<p>
										<label style="display: block">Review by: <%= review.name %></label>
										<label>College: <%= link_to review.college_name, College.find_by_name(review.college_name) %></label>
									</p>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
			
			<!-- The extra "row" div ensures that the following <p> is placed on a separate line-->
			<div class="row">
				<p class="welcome-p-1">Click on the 'Colleges' tab to search for reviews of a specific college, and 'All Reviews' to see a list of every review</p>
			</div>
		</div>
	</body>
</html>