<!doctype html>

<html>
	<head>
    <title>PunaLink</title>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="container-small container">
			<div class="background-white row">
				<div class="black-border col-md-6">
					<div class="short row">
						<label id="header">Welcome to PunaLink,</label>
						<p class="welcome-p-1">A resource for Punahou Academy students sourced from Punahou Alumni. Get real input from our alumni on their colleges.  Find out what other Oahuans think about everything from campus life, to academic rigor, to food.  The real inside info . . . </p>

						<p class="welcome-p-2"><strong>by Punahou for Punahou<strong></p>

						<img class="punahou-seal" src="http://i.imgur.com/8NWErkF.png">
					</div>

					<div class="black-border-top short row">
						<label id="font-26">Recent Reviews</label>
						<table>
							<tbody>
								<% @reviews.limit(2).each do |review| %>
	      							<tr>
	        							<td>"<%= review.question1 %>"</td>
	      							</tr>
	      							<tr>
	      								<td style="padding-left: 30px">-By <%= review.name %></td>
	      							</tr>
	    						<% end %>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>

				<div class="background-white col-md-6 black-border">
					<label id="font-26" style="margin-bottom: 20px; text-align: center">Random Colleges</label>

					<label id="font-22" style="margin-bottom: 30px; text-align: left">• <%= College.order("RAND()").first.name %></label>

					<label id="font-22" style="margin-bottom: 30px; text-align: left">• <%= College.order("RAND()").second.name %></label>
					
					<label id="font-22" style="margin-bottom: 30px; text-align: left">• <%= College.order("RAND()").third.name %></label>
					
					<label id="font-22" style="margin-bottom: 30px; text-align: left">• <%= College.order("RAND()").fourth.name %></label>
					
					<label id="font-22" style="text-align: left">• <%= College.order("RAND()").fifth.name %></label>
				</div>
		</div>
	</body>
</html>