<!doctype html>
<html>
	<head>
	    <title>Rankings</title>
		<!-- <link rel="stylesheet" href="custom.scss"> -->
	<head>

	<body class="body">
		<div class="container-small container">
			<div class="row">
				<div class="col-md-12">
					<div id="results" class="row">
						<table class="table black-border col-md-12" style="margin-top: 20px; margin-left: 2.2%; width: 96%">
							<% if current_user == nil || current_user.admin == false %>
								<thead style="background: #D6E4FF">
									<tr>
										<th style="width: 25%">Ranking Author</th>
										<th style="width: 30%">School Name</th>
										<th>Link</th>
									</tr>
								</thead>
							<% else %>
								<thead style="background: #D6E4FF">
									<tr>
										<th style="width: 25%">Ranking Author</th>
										<th style="width: 30%">School Name</th>
										<th>Link</th>
										<th>Verified?</th>
									</tr>
								</thead>
							<% end %>
							<tbody>
								<% if current_user == nil || current_user.admin == false %>
									<% Ranking.all.each do |r|%>
										<% if r.verified == true %>
		                                    <tr>
		                                        <td><%= r.name %></td>
		                                        <td><%= r.college_name %></td>
		                                        <td><%= link_to "Go to ranking by " + r.name, r %></td>
		                                    </tr>
	                                    <% end %>
	                                <%end%>
                                <% else %>
                                	<% Ranking.all.each do |r|%>
	                                    <tr>
	                                        <td><%= r.name %></td>
	                                        <td><%= r.college_name %></td>
	                                        <td><%= link_to "Go to ranking by " + r.name, r %></td>
	                                        <% if r.verified == false %>
	                                        	<td><%= link_to "Verify", verify_rankings_path(:id => r.id) %></td>
	                                        <% else %>
	                                        	<td>Verified</td>
	                                        <% end %>
	                                    </tr>
	                                <%end%>
                                <% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div> <!-- row -->
		</div>
	</body>
</html>