<html>
  <head>

  </head>

  <body class="body">
    <div class="container-small container">
      <h1>Submit a Ranking</h1>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <%= form_for(@ranking) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            
            <%= f.label "College Name" %>
            <% options = options_from_collection_for_select(@colleges, 'name', 'name') %>
            <%= f.select :college_name, options, class: 'form-control' %>
            
            <label style="margin: 20px 0; display: block; text-align: center; font-size: 32px">Rankings:</label>
            
            <label class="ranking-label">Compared to Punahou, on a scale from 1-10, how would you describe the academic rigor of your college (1 being far easier, 5 being about the same, and 10 being far more difficult)?</label>
            <%= f.select :response1, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %>
            
            <label class="ranking-label">Please explain your ranking. You can compare courses in college to a specific punahou course, compare academic rigor overall, etc. </label>
            <%= f.text_area :response1_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">On a scale from 1-10, how do you like the campus life at your university (With 1 being terrible to 10 being phoenomeal)</label>
            <%= f.select :response2, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Please explain your ranking. You can compare the general atmosphere at your college to that of Punahou's, compare your classmates (DO NOT MENTION INDIVIDALS) at college to those at Punahou (AGAIN, NO INDIVIDUALS), etc.</label>
            <%= f.text_area :response2_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">On a scale from 1-10, how would you describe the food served on campus (1 being terrible to 10 being incredible)</label>
            <%= f.select :response3, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Please explain your ranking. Compare on-campus food to the Punahou snack bar, or come up with your own criteria</label>
            <%= f.text_area :response3_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">On a scale from 1-10, how would you describe the food that is readily available off campus (1 being terrible to 10 being incredible)?</label>
            <%= f.select :response4, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Please explain your ranking. Compare off-campus food to Hawaiian restaurants, or come up with your own criteria</label>
            <%= f.text_area :response4_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">On a scale from 1-10, how would you describe the housing situation at your college (With 1 being terrible and 10 being the best living situation you've seen)</label>
            <%= f.select :response5, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Please explain your ranking. Although there is nothing comparable at Punahou, you can can come up with your own critera, or simply describe it</label>
            <%= f.text_area :response5_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">On a scale from 1-10, how would you describe the administration at your school (With 1 being completely unhelpful to 10 being the best possible)</label>
            <%= f.select :response6, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Please explain your ranking. You can compare it to Punahou faculty as a whole, or simply explain the reason behind your decision</label>
            <%= f.text_area :response6_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">Based upon what <em>you</em> thing, rate the weather at your school on a scale from 1-10 (with 1 being terrible to 10 being phenomenal)</label>
            <%= f.select :response7, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Please explain your ranking. How do you think a student who has lived in Hawaii their entire lives would feel about the weather at your school. Explain what it is like.</label>
            <%= f.text_area :response7_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">On a scale from 1-10 (with 1 being terrible to 10 being phenomenal), how do you as an individual feel about your post-college options?</label>
            <%= f.select :response8, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Please explain your ranking. Does your opinion match your classmates'? Does your major have any impact on this? Etc.</label>
            <%= f.text_area :response8_explanation, class: 'ranking_explanation_text_box' %>
            
            <label class="ranking-label">Most importantly of all, would you recommend your college to a graduating Punahou student, knowing that your opinions may affect the lives of members of the Punahou family (hopefully for the better!) - (1 being "No, I definitely would not recommend this college to a graduating student", 5 being "Yeah, I think some students would really enjoy it here", and 10 being "This is the best school imaginable, every Punahou student should come here!"</label>
            <%= f.select :response9, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], class: "ranking-label" %>
            
            <label class="ranking-label">Perhaps none of the options above fit your description properly. Here's where you can elaborate on your choice, or even come up with your own! This explanation is perhaps the most important piece of this ranking form - please answer it as completely and honestly as possible!</label>
            <%= f.text_area :response9_explanation, class: 'ranking_explanation_text_box' %>
            
            <%= f.submit "Submit my ranking", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
