<html>
    <head>
        <title>Ranking by <%= @ranking.name %></title>
        <h1>Name: <%= @ranking.name %></h1>
    </head>
    
    <body class="body">
        <h2>College Name: <%= @ranking.college_name %></h2>
        <h2>Response 1: <%= @ranking.response1 %></h2>
        <h2>Response 2: <%= @ranking.response2 %></h2>
        <h2>Response 3: <%= @ranking.response1 %></h2>
        <h2>Response 4: <%= @ranking.response2 %></h2>
        <h2>Response 5: <%= @ranking.response1 %></h2>
        <h2>Response 6: <%= @ranking.response2 %></h2>
        <h2>Response 7: <%= @ranking.response1 %></h2>
        <h2>Response 8: <%= @ranking.response2 %></h2>
        <h2>Response 9: <%= @ranking.response1 %></h2>
        <h2>Response 10: <%= @ranking.response2 %></h2>
    </body>
</html>