<html>
    <head>
        <title>Colleges</title>
    </head>
    <body class="body">
		<div class="container-small container">
			<div class="row">
				<div class="col-md-12">
					<div id="results" class="row">
						<div class="col-md-8">
							<%= will_paginate @colleges %>
						</div>
						<div class="col-md-4">
							<form>
								<div class="input-group" style="margin: 15px 0 0 2.2%">
									<%= form_tag(colleges_path, :method => "get", class: "form-control", id: "search-form", style: "margin: 5px 0 0 2.2%") do %>
										<%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search Colleges", style: "border-radius: 8px 0 0 8px" %>
									    <span class="input-group-btn">
									        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
									    </span>
									    
									<% end %>
								</div>
							</form>
						</div>
						<table class="black-border table col-md-12">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 40%">College Name</th>
									<th>Number of Reviews</th>
								</tr>
							</thead>
							<tbody>
								<% @colleges.all.each do |college|%>
                                    <tr>
                                        <td><%= link_to college.name,   college %></td>
                                        <td><%= college.reviews_count %></td>
                                    </tr>
                                <%end%>
							</tbody>
						</table>
					</div>
				</div>
			</div> <!-- row -->
		</div>
	</body>
</html>