<html>
  <head>
  <title><%=@college.name %></title>
  </head>

  <body class="body">
    <div class="background-white container-small container">
      <div class="row" style="margin: 0; text-align: center">
        <h2>College Name: <%= @college.name %></h2>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <h3>Reviews:</h3>
          
          <% if (@reviews.count != 0) %>
            <%= will_paginate @reviews %>
          <% end %>
    			<table class="black-border table" style="width: 100%; margin-left: 0">
    				<thead style="background: #D6E4FF">
    					<tr>
    						<th style="width: 25%">Review Author</th>
    						<th style="width: 40%">Link</th>
    					</tr>
    				</thead>
    				<tbody>
    					<% @reviews.each do |r| %>
      					<% if r.verified == true %>
      						<tr>
      						  <td><%= r.name %></td>
      							<td><%= link_to "Link to review by: " + r.name, r %></td>
      						</tr>
      					<% end %>
    					<% end %>
    				</tbody>
    			</table>
        </div> <!-- col-md-12 -->
      </div> <!-- Reviews row-->
    </div> <!-- container-small -->
  </body>
</html>