<html>
  <head>
    <title>Review by <%= @review.name %></title>
  </head>

  <body class="body">
    <div class="container-small container review-results">
      <div class=" row" style="text-align: center">
        <h2>This is a review written by <%= @review.name %> for the college <%= @review.college_name %></h2>
      </div>
      <div class="row" style="text-align: left; padding-left: 10px">
        <h3>1) College or University you attend: </h3>
          <label style="margin-left: 50px"><%= @review.college_name %></label>
        <h3>2) Punahou Graduation Year:</h3>
          <label style="margin-left: 50px"><%= @review.punahou_graduation_year %></label>
        <h3>3) Gender:</h3>
          <label style="margin-left: 50px"><%= @review.gender %></label>
        <h3>4) College Year Completed: </h3>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.year_completed == "Freshman" %>
              <input type="checkbox" disabled="disabled" checked="checked"> Freshman
            <% else %>
              <input type="checkbox" disabled="disabled"> Freshman
            <% end %>
          </label>
        </div>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.year_completed == "Sophomore" %>
              <input type="checkbox" disabled="disabled" checked="checked"> Sophomore
            <% else %>
              <input type="checkbox" disabled="disabled"> Sophomore
            <% end %>
          </label>
        </div>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.year_completed == "Junior" %>
              <input type="checkbox" disabled="disabled" checked="checked"> Junior
            <% else %>
              <input type="checkbox" disabled="disabled"> Junior
            <% end %>
          </label>
        </div>
        <h3>5) Major: </h3>
          <label style="margin-left: 50px"><%= @review.major %></label>
        <h3>6) Select the one description that best describes the academic environment at your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment1 == "Work hard/play hard" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Work hard/play hard
              <% else %>
                <input type="checkbox" disabled="disabled"> Work hard/play hard
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment1 == "Academically challenging" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Academically challenging
              <% else %>
                <input type="checkbox" disabled="disabled"> Academically challenging
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment1 == "Emphasis on grades" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Emphasis on grades
              <% else %>
                <input type="checkbox" disabled="disabled"> Emphasis on grades
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment1 == "Intellectual" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Intellectual
              <% else %>
                <input type="checkbox" disabled="disabled"> Intellectual
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment1 == "Relaxed academic atmosphere" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Relaxed academic atmosphere
              <% else %>
                <input type="checkbox" disabled="disabled"> Relaxed academic atmosphere
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment1.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>7) Describe the acadmic environment at your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment2 == "Less difficult than I expected" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Less difficult than I expected
              <% else %>
                <input type="checkbox" disabled="disabled"> Less difficult than I expected
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment2 == "What I expected" %>
                <input type="checkbox" disabled="disabled" checked="checked"> What I expected
              <% else %>
                <input type="checkbox" disabled="disabled"> What I expected
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment2 == "More difficult than I expected" %>
                <input type="checkbox" disabled="disabled" checked="checked"> More difficult than I expected
              <% else %>
                <input type="checkbox" disabled="disabled"> More difficult than I expected
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_environment2.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>8) Rate the academic competition among students:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_competition.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (None)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (None)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_competition.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_competition.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_competition.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_competition.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Cut Throat)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Cut Throat)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_competition.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>9) Compared to Punahou, rate the academic challenge of your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_challenge.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Not as)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Not as)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_challenge.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_challenge.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_challenge.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_challenge.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Much more)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Much more)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_challenge.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>10) AP or Honors courses taken at Punahou: </h3>
          <label style="margin-left: 50px"><%= @review.ap_honors_classes %></label>
        <h3>11) Check any class sizes you have experienced:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.class_sizes.include? "Under 15 students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Under 15 students
              <% else %>
                <input type="checkbox" disabled="disabled"> Under 15 students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.class_sizes.include? "25 - 50 students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 25 - 50 students
              <% else %>
                <input type="checkbox" disabled="disabled"> 25 - 50 students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.class_sizes.include? "50 - 75 students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 50 - 75 students
              <% else %>
                <input type="checkbox" disabled="disabled"> 50 - 75 students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.class_sizes.include? "75 - 150 students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 75 - 150 students
              <% else %>
                <input type="checkbox" disabled="disabled"> 75 - 150 students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.class_sizes.include? "150 or more students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 150 or more students
              <% else %>
                <input type="checkbox" disabled="disabled"> 150 or more students
              <% end %>
            </label>
          </div>
        <h3>12) Indicate most common class size:</h3>
          <label style="margin-left: 50px"><%= @review.most_common_class_size %></label>
        <h3>13) Have any of your classes been taught by graduate students or teaching assistants?</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teaching_assistants == true %>
                <input type="checkbox" disabled="disabled" checked="checked"> Yes
              <% else %>
                <input type="checkbox" disabled="disabled"> Yes
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teaching_assistants == false %>
                <input type="checkbox" disabled="disabled" checked="checked"> No
              <% else %>
                <input type="checkbox" disabled="disabled"> No
              <% end %>
            </label>
          </div>
        <h3>14) Rate the teaching (1 being poor, 5 being superior): </h3>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.teaching_rating.eql? "1" %>
              <input type="checkbox" disabled="disabled" checked="checked"> 1 (None)
            <% else %>
              <input type="checkbox" disabled="disabled"> 1 (None)
            <% end %>
          </label>
        </div>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.teaching_rating.eql? "2" %>
              <input type="checkbox" disabled="disabled" checked="checked"> 2
            <% else %>
              <input type="checkbox" disabled="disabled"> 2
            <% end %>
          </label>
        </div>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.teaching_rating.eql? "3" %>
              <input type="checkbox" disabled="disabled" checked="checked"> 3
            <% else %>
              <input type="checkbox" disabled="disabled"> 3
            <% end %>
          </label>
        </div>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.teaching_rating.eql? "4" %>
              <input type="checkbox" disabled="disabled" checked="checked"> 4
            <% else %>
              <input type="checkbox" disabled="disabled"> 4
            <% end %>
          </label>
        </div>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.teaching_rating.eql? "5" %>
              <input type="checkbox" disabled="disabled" checked="checked"> 5 (Cut Throat)
            <% else %>
              <input type="checkbox" disabled="disabled"> 5 (Cut Throat)
            <% end %>
          </label>
        </div>
        <div class="checkbox" style="margin-left: 50px">
          <label>
            <% if @review.teaching_rating.eql? "N/A" %>
              <input type="checkbox" disabled="disabled" checked="checked"> N/A
            <% else %>
              <input type="checkbox" disabled="disabled"> N/A
            <% end %>
          </label>
        </div>
        <h3>15) How accessible are the following:</h3>
        <div class="col-md-4">
          <h3 style="margin-left: 50px">Professors: </h3>
            <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.professor_accessibility.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Not at all)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Not at all)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.professor_accessibility.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.professor_accessibility.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.professor_accessibility.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.professor_accessibility.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Very)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Very)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.professor_accessibility.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        </div>
          
        <div class="col-md-4">
          <h3 style="margin-left: 50px">Academic Advisors: </h3>
            <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_advisor_accessibility.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Not at all)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Not at all)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_advisor_accessibility.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_advisor_accessibility.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_advisor_accessibility.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_advisor_accessibility.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Very)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Very)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.academic_advisor_accessibility.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        </div>
        
        <div class="col-md-4" style="margin-bottom: 20px">
          <h3 style="margin-left: 50px">Teacher Assistants: </h3>
            <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teacher_assistant_accessibility.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Not at all)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Not at all)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teacher_assistant_accessibility.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teacher_assistant_accessibility.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teacher_assistant_accessibility.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teacher_assistant_accessibility.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Very)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Very)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.teacher_assistant_accessibility.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        </div>
        <h3>16) How many times have you had a meeting at a professor's home?: </h3>
          <label style="margin-left: 50px"><%= @review.class_or_meeting_at_professors_home %></label>
          
        <h3>17) Rate your college/university’s library facilities::</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.library_facilities.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Doesn't suit my needs)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Doesn't suit my needs)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.library_facilities.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.library_facilities.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.library_facilities.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.library_facilities.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Suits my needs perfectly)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Suits my needs perfectly)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.library_facilities.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
          <h3>18) Rate your college/university’s science facilities::</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.science_facilities.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Doesn't suit my needs)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Doesn't suit my needs)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.science_facilities.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.science_facilities.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.science_facilities.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.science_facilities.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Suits my needs perfectly)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Suits my needs perfectly)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.science_facilities.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>19) Rate the accessibility of arts facilities at your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.arts_facilities.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Poor)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Poor)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.arts_facilities.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.arts_facilities.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.arts_facilities.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.arts_facilities.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Superior)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Superior)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.arts_facilities.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>20) Comments about the above facilities:</h3>
          <label style="margin-left: 50px"><%= @review.comments_library_arts %></label>
        <h3>21) Describe the degree of ease/difficulty in registering for courses:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_registration_difficulty.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Massive red tape)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Massive red tape)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_registration_difficulty.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_registration_difficulty.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_registration_difficulty.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_registration_difficulty.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (No problem)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (No problem)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_registration_difficulty.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>22) Compared to Punahou, how rigorous are your school’s academic classes:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_rigor.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Not very rigorous)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Not very rigorous)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_rigor.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_rigor.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_rigor.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_rigor.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Very rigorous)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Very rigorous)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.course_rigor.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
          <h3>23) Rate your overall satisfaction with the rigor of your school's academic program:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.rigor_satisfaction.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Falls short)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Falls short)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.rigor_satisfaction.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.rigor_satisfaction.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.rigor_satisfaction.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.rigor_satisfaction.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Far exceeds)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Far exceeds)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.rigor_satisfaction.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>24) Based on your academic experience, would you recommend your college/university to other Punahou students?</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.recommendation.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (No)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (No)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.recommendation.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.recommendation.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.recommendation.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.recommendation.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Enthusiastically)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Enthusiastically)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.recommendation.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>25) Concerning the academic life at your school, which stereotypes or myths that prospective students might encounter? Which are accurate?</h3>
          <label style="margin-left: 50px"><%= @review.academic_life_stereotypes %></label>
        <h3>26) Comment on the role discussion plays in classes.</h3>
          <label style="margin-left: 50px"><%= @review.class_discussions %></label>
        <h3>27) Describe the attitude of the administration at your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.administration_attitude == "Indifferent to students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Indifferent to students
              <% else %>
                <input type="checkbox" disabled="disabled"> Indifferent to students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.administration_attitude == "Not a perceptible factor in day-to- day student life" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Not a perceptible factor in day-to- day student life
              <% else %>
                <input type="checkbox" disabled="disabled"> Not a perceptible factor in day-to- day student life
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.administration_attitude == "Open & welcoming to students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Open & welcoming to students
              <% else %>
                <input type="checkbox" disabled="disabled"> Open & welcoming to students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.administration_attitude == "Friendly, but guarded" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Friendly, but guarded
              <% else %>
                <input type="checkbox" disabled="disabled"> Friendly, but guarded
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.administration_attitude.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>28) Check all that describe social life at your campus:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Party school – primarily alcohol" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Party school – primarily alcohol
              <% else %>
                <input type="checkbox" disabled="disabled"> Party school – primarily alcohol
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Party school – primarily drugs" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Party school – primarily drugs
              <% else %>
                <input type="checkbox" disabled="disabled"> Party school – primarily drugs
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Partying is not a significant facet of social life" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Partying is not a significant facet of student life
              <% else %>
                <input type="checkbox" disabled="disabled"> Partying is not a significant facet of student life
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Social life dominated by Greek system" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Social life dominated by Greek system
              <% else %>
                <input type="checkbox" disabled="disabled"> Social life dominated by Greek system
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Social life revolves around academics/arts" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Social life revolves around academics/arts
              <% else %>
                <input type="checkbox" disabled="disabled"> Social life revolves around academics/arts
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Social life revolves around sporting events" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Social life revolves around sporting events
              <% else %>
                <input type="checkbox" disabled="disabled"> Social life revolves around sporting events
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Most social life occurs off-campus" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Most social life occurs off-campus
              <% else %>
                <input type="checkbox" disabled="disabled"> Most social life occurs off-campus
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Most social life occurs on-campus" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Most social life occurs on-campus
              <% else %>
                <input type="checkbox" disabled="disabled"> Most social life occurs on-campus
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Significant number of students leave on weekends" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Significant number of students leave on weekends
              <% else %>
                <input type="checkbox" disabled="disabled"> Significant number of students leave on weekends
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "No fraternities or sororities" %>
                <input type="checkbox" disabled="disabled" checked="checked"> No fraternities or sororities
              <% else %>
                <input type="checkbox" disabled="disabled"> No fraternities or sororities
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "Great college town" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Great college town
              <% else %>
                <input type="checkbox" disabled="disabled"> Great college town
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "You can have fun here without drugs or alcohol" %>
                <input type="checkbox" disabled="disabled" checked="checked"> You can have fun here without drugs or alcohol
              <% else %>
                <input type="checkbox" disabled="disabled"> You can have fun here without drugs or alcohol
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life.include? "None of the above" %>
                <input type="checkbox" disabled="disabled" checked="checked"> None of the above
              <% else %>
                <input type="checkbox" disabled="disabled"> None of the above
              <% end %>
            </label>
          </div>
        <h3>29) Check all that describe the ability to make friends:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.friendship_making.include? "Easy to make friends across campus" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Easy to make friends across campus
              <% else %>
                <input type="checkbox" disabled="disabled"> Easy to make friends across campus
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.friendship_making.include? "Hard to make new friends after freshman year" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Hard to make new friends after freshman year
              <% else %>
                <input type="checkbox" disabled="disabled"> Hard to make new friends after freshman year
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.friendship_making.include? "Between friendly and impersonal, but closer to friendly" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Between friendly and impersonal, but closer to friendly
              <% else %>
                <input type="checkbox" disabled="disabled"> Between friendly and impersonal, but closer to friendly
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.friendship_making.include? "Between friendly and impersonal, but closer to impersonal" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Between friendly and impersonal, but closer to impersonal
              <% else %>
                <input type="checkbox" disabled="disabled"> Between friendly and impersonal, but closer to impersonal
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.friendship_making.include? "A segmented campus based on affiliation/dorm location" %>
                <input type="checkbox" disabled="disabled" checked="checked"> A segmented campus based on affiliation/dorm location
              <% else %>
                <input type="checkbox" disabled="disabled"> A segmented campus based on affiliation/dorm location
              <% end %>
            </label>
          </div>
        <h3>30) Check all that describe campus life:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Female dominated" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Female dominated
              <% else %>
                <input type="checkbox" disabled="disabled"> Female dominated
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Male dominated" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Male dominated
              <% else %>
                <input type="checkbox" disabled="disabled"> Male dominated
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Uncomfortable for gay or lesbian students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Uncomfortable for gay or lesbian students
              <% else %>
                <input type="checkbox" disabled="disabled"> Uncomfortable for gay or lesbian students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Comfortable for gay or lesbian students" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Comfortable for gay or lesbian students
              <% else %>
                <input type="checkbox" disabled="disabled"> Comfortable for gay or lesbian students
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Uncomfortable for women" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Uncomfortable for women
              <% else %>
                <input type="checkbox" disabled="disabled"> Uncomfortable for women
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Comfortable for women" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Comfortable for women
              <% else %>
                <input type="checkbox" disabled="disabled"> Comfortable for women
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Politically conservative" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Politically conservative
              <% else %>
                <input type="checkbox" disabled="disabled"> Politically conservative
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Politically liberal" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Politically liberal
              <% else %>
                <input type="checkbox" disabled="disabled"> Politically liberal
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Politically middle-of- the-road" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Politically middle-of- the-road
              <% else %>
                <input type="checkbox" disabled="disabled"> Politically middle-of- the-road
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Politically apathetic" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Politically apathetic
              <% else %>
                <input type="checkbox" disabled="disabled"> Politically apathetic
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Politically correct" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Politically correct
              <% else %>
                <input type="checkbox" disabled="disabled"> Politically correct
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "A negative atmosphere for students of color" %>
                <input type="checkbox" disabled="disabled" checked="checked"> A negative atmosphere for students of color
              <% else %>
                <input type="checkbox" disabled="disabled"> A negative atmosphere for students of color
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Good town/campus relationship" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Good town/campus relationship
              <% else %>
                <input type="checkbox" disabled="disabled"> Good town/campus relationship
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.campus_life.include? "Poor town/campus relationship" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Poor town/campus relationship
              <% else %>
                <input type="checkbox" disabled="disabled"> Poor town/campus relationship
              <% end %>
            </label>
          </div>
        <h3>31) Comments or Explanations about your check marks to the previous 3 questions:</h3>
           <label style="margin-left: 50px"><%= @review.comments_friendship_social_campus %></label>
        <h3>32) Check all the activities in which you are involved.</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Varsity athletics" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Varsity athletics
              <% else %>
                <input type="checkbox" disabled="disabled"> Varsity athletics
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Fine arts" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Fine arts
              <% else %>
                <input type="checkbox" disabled="disabled"> Fine arts
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Theater" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Theater
              <% else %>
                <input type="checkbox" disabled="disabled"> Theater
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Newspaper/literary magazine" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Newspaper/literary magazine
              <% else %>
                <input type="checkbox" disabled="disabled"> Newspaper/literary magazine
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Fraternity/sorority" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Fraternity/sorority
              <% else %>
                <input type="checkbox" disabled="disabled"> Fraternity/sorority
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Music" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Music
              <% else %>
                <input type="checkbox" disabled="disabled"> Music
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Dance" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Dance
              <% else %>
                <input type="checkbox" disabled="disabled"> Dance
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Intramural sports" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Intramural sports
              <% else %>
                <input type="checkbox" disabled="disabled"> Intramural sports
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Student government" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Student government
              <% else %>
                <input type="checkbox" disabled="disabled"> Student government
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Community service" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Community service
              <% else %>
                <input type="checkbox" disabled="disabled"> Community service
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Campus job" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Campus job
              <% else %>
                <input type="checkbox" disabled="disabled"> Campus job
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Off-campus job" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Off-campus job
              <% else %>
                <input type="checkbox" disabled="disabled"> Off-campus job
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Religious group" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Religious group
              <% else %>
                <input type="checkbox" disabled="disabled"> Religious group
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "Radio station" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Radio station
              <% else %>
                <input type="checkbox" disabled="disabled"> Radio station
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.activities.include? "None of the above" %>
                <input type="checkbox" disabled="disabled" checked="checked"> None of the above
              <% else %>
                <input type="checkbox" disabled="disabled"> None of the above
              <% end %>
            </label>
          </div>
        <h3>33) Compared to your experience at Punahou, indicate your ability to get involved with extracurricular activities at your college/university:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.extracurricular_involvement_ability.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Much more difficult)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Much more difficult)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.extracurricular_involvement_ability.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.extracurricular_involvement_ability.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.extracurricular_involvement_ability.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.extracurricular_involvement_ability.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Much easier)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Much easier)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.extracurricular_involvement_ability.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>34) Rate the quality of food/dining on your campus:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.food_quality_on_campus.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Poor)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Poor)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.food_quality_on_campus.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.food_quality_on_campus.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.food_quality_on_campus.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.food_quality_on_campus.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Great)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Great)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.food_quality_on_campus.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>35) Rate the residence halls on your campus:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.residence_halls.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Run Down)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Run Down)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.residence_halls.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.residence_halls.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.residence_halls.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.residence_halls.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Well-maintained)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Well-maintained)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.residence_halls.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>36) What dorms would you recommend?</h3>
          <label style="margin-left: 50px"><%= @review.recommended_dorms %></label>
        <h3>37) Rate the accessibility of athletic facilities at your school, taking into account access for non-athletes:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.athletic_accessibility.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Poor)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Poor)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.athletic_accessibility.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.athletic_accessibility.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.athletic_accessibility.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.athletic_accessibility.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Superior)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Superior)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.athletic_accessibility.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>38) What are the unique features of your student center?</h3>
          <label style="margin-left: 50px"><%= @review.student_center_unique_features %></label>
        <h3>39) Rate your overall satisfaction with the social life at your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_social_satisfaction.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Falls short)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Falls short)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_social_satisfaction.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_social_satisfaction.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_social_satisfaction.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_social_satisfaction.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Far exceeds)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Far exceeds)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_social_satisfaction.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>40) Based on the social life, would you recommend your school to other Punahou students?</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life_recommendation.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (No)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (No)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life_recommendation.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life_recommendation.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life_recommendation.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life_recommendation.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Enthusiastically)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Enthusiastically)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.social_life_recommendation.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>41) Concerning social life at your school, which rumors or myths that prospective students might encounter? Which are accurate?</h3>
          <label style="margin-left: 50px"><%= @review.social_life_rumors %></label>
        <h3>42) Safety is a big concern for many students and colleges. What conditions exist that help you feel safe or unsafe?</h3>
          <label style="margin-left: 50px"><%= @review.safe_unsafe %></label>
        <h3>43) Is there a sense of school spirit/pride? How would you describe it?</h3>
          <label style="margin-left: 50px"><%= @review.spirit_pride %></label>
        <h3>44) Since over 30% of Punahou students go to college sight unseen, describe your college and nearby community.</h3>
          <label style="margin-left: 50px"><%= @review.college_nearby_community %></label>
        <h3>45) What is there to do in your neighboring community? Discuss any or all of the following: dining, shopping, entertainment, service opportunities, etc.</h3>
          <label style="margin-left: 50px"><%= @review.neighboring_community_activities %></label>
        <h3>46) Check the five attributes that best describe why you chose your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "lower cost/higher scholarship" %>
                <input type="checkbox" disabled="disabled" checked="checked"> lower cost/higher scholarship
              <% else %>
                <input type="checkbox" disabled="disabled"> lower cost/higher scholarship
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "family tradition" %>
                <input type="checkbox" disabled="disabled" checked="checked"> family tradition
              <% else %>
                <input type="checkbox" disabled="disabled"> family tradition
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "special academic program" %>
                <input type="checkbox" disabled="disabled" checked="checked"> special academic program
              <% else %>
                <input type="checkbox" disabled="disabled"> special academic program
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "academically challenging" %>
                <input type="checkbox" disabled="disabled" checked="checked"> academically challenging
              <% else %>
                <input type="checkbox" disabled="disabled"> academically challenging
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "athletic opportunities" %>
                <input type="checkbox" disabled="disabled" checked="checked"> athletic opportunities
              <% else %>
                <input type="checkbox" disabled="disabled"> athletic opportunities
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "diversity of student body" %>
                <input type="checkbox" disabled="disabled" checked="checked"> diversity of student body
              <% else %>
                <input type="checkbox" disabled="disabled"> diversity of student body
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "pre-professional advising" %>
                <input type="checkbox" disabled="disabled" checked="checked"> pre-professional advising
              <% else %>
                <input type="checkbox" disabled="disabled"> pre-professional advising
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "location" %>
                <input type="checkbox" disabled="disabled" checked="checked"> location
              <% else %>
                <input type="checkbox" disabled="disabled"> location
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "social aspects of campus" %>
                <input type="checkbox" disabled="disabled" checked="checked"> social aspects of campus
              <% else %>
                <input type="checkbox" disabled="disabled"> social aspects of campus
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "intellectual challenge" %>
                <input type="checkbox" disabled="disabled" checked="checked"> intellectual challenge
              <% else %>
                <input type="checkbox" disabled="disabled"> intellectual challenge
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "optimum size" %>
                <input type="checkbox" disabled="disabled" checked="checked"> optimum size
              <% else %>
                <input type="checkbox" disabled="disabled"> optimum size
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "Prestige" %>
                <input type="checkbox" disabled="disabled" checked="checked"> Prestige
              <% else %>
                <input type="checkbox" disabled="disabled"> Prestige
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.why_chose_school.include? "other" %>
                <input type="checkbox" disabled="disabled" checked="checked"> other
              <% else %>
                <input type="checkbox" disabled="disabled"> other
              <% end %>
            </label>
          </div>
        <h3>47) If costs or financial aid were factors in selecting this school please comment on the value of the education you are receiving.</h3>
        <label style="margin-left: 50px"><%= @review.financial_value %></label>
         <h3>48) Is weather a reason someone should or shouldn't attend this school? Please comment.</h3>
        <label style="margin-left: 50px"><%= @review.weather %></label>
        <h3>49) Rate your overall satisfaction with your school:</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_satisfaction.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Not at all satisfied)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Not at all satisfied)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_satisfaction.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_satisfaction.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_satisfaction.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_satisfaction.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Definitely satisfied)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Definitely satisfied)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.overall_satisfaction.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>50) Would you choose your school again if you were a Punahou senior?</h3>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.choose_again.eql? "1" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 1 (Never again)
              <% else %>
                <input type="checkbox" disabled="disabled"> 1 (Never again)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.choose_again.eql? "2" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 2
              <% else %>
                <input type="checkbox" disabled="disabled"> 2
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.choose_again.eql? "3" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 3
              <% else %>
                <input type="checkbox" disabled="disabled"> 3
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.choose_again.eql? "4" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 4
              <% else %>
                <input type="checkbox" disabled="disabled"> 4
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.choose_again.eql? "5" %>
                <input type="checkbox" disabled="disabled" checked="checked"> 5 (Definitely)
              <% else %>
                <input type="checkbox" disabled="disabled"> 5 (Definitely)
              <% end %>
            </label>
          </div>
          <div class="checkbox" style="margin-left: 50px">
            <label>
              <% if @review.choose_again.eql? "N/A" %>
                <input type="checkbox" disabled="disabled" checked="checked"> N/A
              <% else %>
                <input type="checkbox" disabled="disabled"> N/A
              <% end %>
            </label>
          </div>
        <h3>51) What advice would you give to students planning to attend this school?</h3>
          <label style="margin-left: 50px"><%= @review.advice %></label>

        <br>
        <br>
        
        <label><strong>Review by: <%= @review.name %>, class of <%= @review.punahou_graduation_year %></strong></label><br>
        
        <% if @review.cancontact == "Yes" and @review.email != ""%>
          <label>Email: <%= @review.email %></label>
        <% end %>
      </div>
    </div>
  </body>
</html>