<html>
  <head>
  <title>Review by <%= @review.name %></title>
  </head>

  <body class="body">
    <div class="container container-ranking-review">
      <div class="row" style="text-align: center">
        <h2>This is a review written by <%= @review.name %> for the college <%= @review.college_name %></h2>
      </div>
      <div class="row" style="text-align: left">
        <h3>In response to the prompt:</h3>
        <h3>Before submitting a review, please submit a ranking form for your college - it will give you a general overview of the types of responses we are looking for.. 

This section is your opportunity to provide your opinions about any topic that you think might be important to a graduating Punahou student. Please cover anything that you feel you might have wanted to know about your college before making a final decision (this can be positive or negative). Your response may take some time to appear on the site itself, as it must be reviewed prior to being posted (we can assure you that no changes will be made without first contacting you).</h3>
        <h3><%= @review.name %> wrote:</h3>
        <h3><%= @review.question1 %></h3>
      </div>
    </div>
  </body>
</html>
