<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="shortcut icon" type="image/x-icon" href="http://robotics.punahou.edu/images/ColorPUNAHOU_Seal.jpg" />
  
  <%= render 'layouts/nav' %>
</head>
<body>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  <%= yield %>
</body>
</html>
