<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  <link rel="shortcut icon" type="image/x-icon" href="https://img.clipartfest.com/5e6a661902e5bcd776bb39ecc3310c8e_light-yellow-circle-clip-art-yellow-circle-clipart_300-300.png" />
  
  <%= render 'layouts/nav' %>
</head>
<body>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  <%= yield %>
</body>
</html>
